*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image: url(../bgg.jpg);
	height: 100vh;
	background-size: center;
}

ul{
	float: left;
	list-style-type: none;
	margin-top: 25px;
}
ul li {
	text-decoration: none;
	display: inline;
	border: 1px solid #0C0B0A;
}

ul a li {
	text-decoration: none;
	color: #0C0B0A;
	padding: 5px 10px;
	border: 1px solid transparent;	
	transition: 0.6s ease;
}

ul a li:hover{
	background-color: #fff;
	color: #000;
}
 ul a li.active{
 	background-color: #fff;
 	color: #000;
 }
 a {
 	text-decoration: none;

 }
 .logo img{
 	width: 100px;
 	margin-top: -15px;
 	margin-right: 48px;
 }

.signup-btn{
	top: 40px;
	right: 80px;
	position: absolute;
	text-decoration: none;
	color: #fff;
	border: 2px solid transparent;
	border-radius: 20px;
	background-origin: border-box;

}
 .title{
 	position: absolute;
 	top: 30%;
 	left: 20%;
 	transform: translate(-50%,-50%);

  }
  .title h1{
  	color: #0C0B0A;
  	font-size: 60px;
  	font-style: italic;

  }